# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
data
!conf/initial-data/data
!conf/initial-data/tests/data
conf/calendar/*
!conf/calendar/client_secret_dev.json
!conf/calendar/client_secret_demo.json
!conf/calendar/client_secret_prod.json
documents
eclipse
lib
!public/lib
log
logs
tmp
out
test-result
eclipse
nbproject
*.iml
*.ipr
*.iws
server.pid
modules
cobertura.ser
atlassian-ide-plugin.xml
node_modules
code-coverage
jacoco.exec
bower_components
build.xml
npm-debug.log
precompiled